<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Handling</title>
    <style>
        body{
            background-color: black;
            color: aquamarine;
        }
    </style>
</head>
<body>
    <h1>Form Handling</h1>
    <!-- action means when i press submit button where the data should go -->
     <!-- that will go to particlar route -->
      <!-- mthod means get post etc -->
       <!-- if the method is post the value passing from url will not appear -->
        <!-- so after submitting form will redirect to particular route in that data saving code will write-->
    <form action="/form-submit" method="post">
        Name : <input type="text" name="NAME" placeholder="Enter your name">
        <br>
        <!-- { NAME: 'Sahana S Acharya', email: 'sahanaacharyaaa85@gmail.com' } -->
          <!-- here the name refers to name in form -->
        Email : <input type="text" name="email" placeholder="Enter your email">
        <br>
        <input type="submit" value="submit">
        <br>
    </form>
</body>
</html>